@model WorkerVM

<div class="mb-3 p-3 background-admin justify-content-center">
    <div class="text-center">
        <h1 class="display-4">Info</h1>
        <img src="~/Images/@Model.Image" style="width: 300px; height:275px" />
        <h5>@Model.Name, @Model.Age</h5>
        <h5 class="@(Model.Taken ? "text-danger" : "text-info")">@(Model.Taken ? "Taken" : "Free")</h5>
        <h5>@Model.Description</h5>
    </div>
    <a class="form-button btn" asp-area="Admin" asp-controller="Worker" asp-action="EditWorker" asp-route-id="@Model.Id">Edit</a>
    <a class="form-button-danger btn" asp-area="Admin" asp-controller="Worker" asp-action="DeleteWorker" asp-route-id="@Model.Id">Fire</a>
</div>

